*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color:white;
    overflow-x: hidden;
}
 header{
   padding:1rem;
   background-color:black;
 } 
 .logo{
   text-align: center;
 }
 .logo img{
     max-width: 3%;
     position: absolute;
      text-align: center;
 }
 nav{
   text-align: left;
   padding: 1rem;
 }
 .items a{
   font-family: 'Oswald', sans-serif;

   letter-spacing: 4px;
   font-size: 14px;
   color: white;
   padding-left: 2rem;
   text-decoration: none;
   text-transform: uppercase;
 }
 .items a span{
    color: transparent;
 }
 .items-mob{
   display: none;
 }
 #bars{
   display:none;
 }
 @media(max-width:999px){
   .items{
      display: none;
   }
   #bars{
      display: flex;
      color: white;
      padding: 0.1rem;
      font-size: 30px;
      margin-left: 20px;
      text-align: left;
   }
   .items-mob{
      line-height: 5;
      text-align: left;
      left: 0;
      margin-left: -20px;
   }
   .items-mob a{
      font-family: 'Oswald', sans-serif;;
      letter-spacing: 4px;
      font-size: 14px;
      color: white;
      padding-left: 2rem;
      text-decoration: none;
      text-transform: uppercase;
    }
    .items-mob a span{
       color: white;
    }

    .logo img{
      max-width: 5%;
    }
    .items-mob a:hover{
      background-color: #4d4d4d;
      padding: 2rem;
      right: 0;
      left: 0;
    }
 }


.container{
    width: 100%;
    height: 400px;
}
 .sliders img{
    width: 100%;
    height: 600px;
    display: flex;
 }
 .seta{
    overflow: hidden;
    text-align: center;
    font-size: 30px;
     color: white;
     margin-top: -50px;
     width: 100%;
     animation: 2s setaRight ease infinite;
 }
 @keyframes setaRight{
    0%{
        transform: translateX(-1px);
        color: red;
    }
    100%{
        transform: translateX(4px);
    }
 }

 #imagem2,#imagem3{
    display: none;
 }
 #figuras:checked{
    margin-left: -25%;
 }
 .background{
    background: url(https://i.pinimg.com/550x/0f/ff/cf/0fffcf4a571bc35e42b713f406363b71.jpg);
    height: 85vh;
 }
 .box{
    margin-top: 200px;
    width: 500px;
    height: 300px;
 }
 .imagem-812 img{
    text-align: right;
    justify-content: right;
      width: 100%;
      height: 500px;
      margin-left: 700px;
      margin-top: -470px;
 }
 .texto-812{
    font-family: sans-serif;
    text-align: left;
    margin-left: 200px;
 }
 .texto-812 h1{
    text-transform: uppercase;
    margin-top: 109px;
 }
 @font-face{
   font-family: "body-font-family";
   src: url(body-font-family.zip);
 }
 #hide {
   opacity: 0;
 }
 .texto-812 p{
   font-family: "body-font-family";
     margin-top: 10px;
     line-height: 1.6em;
     letter-spacing: 1px;
     font-size: 18px;
 }
 .texto-812 a{
   line-height: 5;
   text-decoration: none;
   font-family: sans-serif;
   
 }
 .texto-812 span{
   padding: 1rem;
   margin-left: 20px;
   border-color: black;
   border-style: solid;
   border-radius: 30px;
 }
 #container{
   margin-top: -20px;
 }
 #container video{
    width: 100%;
    height: 800px;
 }
 .texto-f1{
   color: white;
   text-align: center;
   margin-top: -150px;
   font-family: 'Oswald', sans-serif;
   letter-spacing: 0.3em;
 }
 .texto-f1 p{
   font-size: 30px;
   color: transparent;
   animation: seta-color 2s ease infinite;
   line-height: 3;
 }
 @keyframes seta-color{
   0%{
      color: white;
      transform: translateY(-20px);
   }
   50%{
      color: red;
   }
   100%{
      color: black;
   }
 }
 .background-2{
   background: url(https://i.pinimg.com/550x/0f/ff/cf/0fffcf4a571bc35e42b713f406363b71.jpg);
   height: 75vh;
   margin-top: -109px;
 }

 #flex-box{
   width: 100%;
   height: 200px;
   align-items:center;
   display: flex;
   margin-top: 100px;
   padding: 4rem;
   text-align: left;
 }
 #flex-box img{
   width: 460px;
   height: 400px;
   margin-top: 300px;
 }
.sf23-texto{
   color: black;
   text-align: left;
   margin-left: 100px;
   margin-top:200px;
}
.sf23-texto h1{
   font-family: sans-serif;
   font-size:xx-large;
   font-weight: lighter;
}
.sf23-texto a{
   text-decoration: none;
   color: black;
   line-height: 5;
   font-family: sans-serif;
   font-size: 20px;
   margin-top: 50px;
}
.sf23-texto .fa-solid:hover{
   color: red;
}
.sf23-texto .fa-solid {
   border-color: transparent;
   padding: 0.5rem;
   border-radius: 50px;
   border-style: solid;
}
.sf23-texto p{
   font-family: "body-font-family";
   font-size: 18px;
   width: 100%;
}
.sf23-texto p1{
   color: black;
    text-align: right;
    font-size: 22px;
    position: absolute;
    right: 0;
    margin-right: 50px;
    border-color: red;
    border-style: none;
}
#seta-box p1{
   border-color: black;
   border-style: solid;
   border-radius: 10px;
   text-align: left;
   padding: 0.6rem;
}
#seta-box p1:hover{
   border-color: red;
}
.imagens-ferrari{
   display: flexbox;
   width: 100%;
   height: 500px;
   align-items: flex-end;
   display: flex;
   margin-top: -100px;
}
.imagens-ferrari img{
   width: 600px;
   height: 800px;
   display: flex;
}
.imagens-ferrari img:hover{
   border-color: red;
   border-style: solid;
   filter: opacity(80%);
}


.imagens-ferrari .container h1{
   display: flex;
   color: white;
   margin-top: -120px;
   margin-left: 250px;
   font-size: 30px;
   font-family: sans-serif;
}
.imagem-ferrari .container img{
   display: flex;
   justify-content: center;
}
.imagem-ferrari #container{
   display: flex;
   margin-left: 200px;
}
.container .thue{
   display: flex;
   text-align: right;
   position: absolute;
   right: 0;
   margin-top: -732px;
}
.thue img{
   width: 749px;
}
.thue h1{
   display: flex;
   color: white;
   margin-top: -120px;
   margin-left: 20px;
   font-size: 30px;
   font-family: sans-serif;
}
#background-ferrari{
   background: url(https://pbs.twimg.com/media/DvdJE1AU8AAfJCS.jpg);
   height: 80vh;
   width: 100%;
   margin-top: 400px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.loja-texto{
   text-align: right;
   margin-right: 200px;
   padding-top: 8rem;
   font-size: 22px;
   font-family: sans-serif;
}
.loja-texto h1{
   color: white;
}
.loja-texto h2{
   color: white;
   padding-right: 9rem;
   line-height: 2;
}
.loja-texto a{
   color: white;
   line-height: 10;
   border-color: white;
   border-style: solid;
   padding: 1rem;
   margin-right: 340px;
   border-radius: 30px;
}
.loja-texto a:hover{
   border-color:yellow;
}
FOOTER{
   margin-top: -20px;
   padding: 1rem;
   color: white;
   background-color: black;
   text-transform: uppercase;
   font-family: sans-serif;
   display: flex;
}
.footer-links{
   display: flex;
}
.footer-links a:hover{
   text-decoration: underline;
}
.auto-links{
  flex-direction: column;
  text-align: left;
  right: 0;
  margin-left: 170px;
  line-height: 3;
  text-align: center;
  font-size: 12px;
}
.auto-links a{
   color: white;
   text-align: center;
   text-decoration: none;
   font-size: 10px;
}
.coleção-links{
   text-align: center;
   font-size: 12px;
   line-height: 3;
   left: 0;
   margin-left: 150px;
}
.coleção-links a{
   color: white;
   text-decoration: none;
   font-size: 10px;
}
.races-links{
   text-align: center;
   font-size: 12px;
   line-height: 3;
   left: 0;
   margin-left: 150px;
}
.races-links a{
  color: white;
  text-decoration: none;
  font-size: 10px;
}
.uni-links{
   text-align: center;
   font-size: 12px;
   line-height: 3;
   left: 0;
   margin-left: 150px;
}
.uni-links a{
   color: white;
   text-decoration: none;
   font-size: 10px;
}
.sociais{
   position: relative;
   top: 0;
   margin-top: 350px;
   text-align: center;
   left: 0;
   margin-left: -800px;
}
.sociais a{
   padding-left: 2rem;
   font-size: 18px;
   text-decoration: none;
   color: white;
   font-family: monospace;
}
#fechar{
   display: none;
}
#fechar2{
   display: none;
}
#fechar3{
   display: none;
}
#fechar4{
   display: none;
}
.copy{
   color:gray;
   font-size: 12px;
   position: relative;
   text-align: center;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
   margin-left: -400px;
   margin-top: 450px;
}
@media(min-width:320px) and (max-width:450px){
   body{
      text-align: center;
   }
     .logo img{
      max-width: 10%;
     }
     .sliders img{
      width: 100%;
      height: 450px;
     }
     .container{
      width: 100%;
     }
     .seta{
      width:100%;
      text-align: center;
     }
     .box{
      width: 100%;
     }
     .texto-812{
      margin-left: 20px;
      margin-top: -250px;
     }
     .imagem-812 img{
      margin-left: 0px;
      margin-top: 0px;
     }
      #container{
         margin-top: 200px;
         width:100%;
         justify-content: center;
      }
      #container video{
         margin-top: 10px;
         width: 100%;
      }
       .texto-f1{
         color:red;
         margin-top: -370px;
         font-size: 10px;
       }
      .texto-f1 p{
         display: none;
      }
      #flex-box{
          width: 100%;
      }
      #flex-box img{
         display: none;
         margin-left:-120px;
         margin-top: 271px;
      }
      .sf23-texto{
         width: 100%;
         text-align: center;
         margin-left: 2px;
         margin-top: 400px;
      }
      .sf23-texto a .fa-solid{
         display: none;
      }
      #seta-box p1{
         text-align: center;
         width: 100%;
         left: 0;
      }
      .imagens-ferrari{
         width: 100%;
         margin-top: 100px;
      }
      .imagens-ferrari img{
         width: 100%;
         margin-top: 9px;
         height: 400px;
      }
      .imagens-ferrari .container h1{
         width: 100%;
         text-align: center;
         margin-left: 100px;
      }
      .thue img{
         width: 100%;
         height: 400px;
          margin-top: 800px;
      }
      #background-ferrari{
         margin-top: 500px;
         width: 100%;
         height: 120vh;
      }
      .loja-texto{
         width: 100%;
         text-align: left;
         margin-left: 20px;
         margin-top: -100px;
      }
      footer{
         width: 100%;
      }
       .footer-links{
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: -70px;
       }
       .footer-links a{
         font-size: 13px
       }
       .auto-links{
         margin-left: 150px;
       }
       .sociais{
         display: none;
       }
       #auto-items{
         display: none;
       }
       #coll-items{
         display: none;
       }
       #race-items{
         display: none;
       }
       #uni-items{
         display: none;
       }
       #fechar{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar2{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar3{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar4{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       .copy{
         display: flex;
         display: block;
         color:gray;
         font-size: 12px;
         position: relative;
         text-align: center;
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
         margin-left: -130px;
         margin-top: 450px;
      }
}

@media(min-width:450px) and (max-width:700px){
   body{
      text-align: center;
   }
     .logo img{
      max-width: 10%;
     }
     .sliders img{
      width: 100%;
      height: 450px;
     }
     .container{
      width: 100%;
     }
     .seta{
      width:100%;
      text-align: center;
     }
     .box{
      width: 100%;
     }
     .texto-812{
      margin-left: 20px;
      margin-top: -250px;
     }
     .imagem-812 img{
      margin-left: 0px;
      margin-top: 0px;
     }
      #container{
         margin-top: 200px;
         width:100%;
         justify-content: center;
      }
      #container video{
         margin-top: 10px;
         width: 100%;
      }
       .texto-f1{
         color:red;
         margin-top: -370px;
         font-size: 10px;
       }
      .texto-f1 p{
         display: none;
      }
      #flex-box{
          width: 100%;
      }
      #flex-box img{
         display: none;
         margin-left:-120px;
         margin-top: 271px;
      }
      .sf23-texto{
         width: 100%;
         text-align: center;
         margin-left: 2px;
         margin-top: 400px;
      }
      .sf23-texto a .fa-solid{
         display: none;
      }
      #seta-box p1{
         text-align: center;
         width: 100%;
         left: 0;
      }
      .imagens-ferrari{
         width: 100%;
         margin-top: 100px;
      }
      .imagens-ferrari img{
         width: 100%;
         margin-top: 9px;
         height: 500px;
      }
      .imagens-ferrari .container h1{
         width: 100%;
         text-align: center;
         margin-left: 150px;
      }
      .thue img{
         width: 100%;
         height: 400px;
          margin-top: 800px;
      }
      #background-ferrari{
         margin-top: 500px;
         width: 100%;
         height: 120vh;
      }
      .loja-texto{
         width: 100%;
         text-align: left;
         margin-left: 20px;
         margin-top: -100px;
      }
      footer{
         width: 100%;
      }
       .footer-links{
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: -70px;
       }
       .footer-links a{
         font-size: 13px
       }
       .auto-links{
         margin-left: 150px;
       }
      .sociais a{
         display: none;
      }
       #auto-items{
         display: none;
       }
       #coll-items{
         display: none;
       }
       #race-items{
         display: none;
       }
       #uni-items{
         display: none;
       }
       #fechar{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar2{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar3{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar4{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       .copy{
         display: flex;
         display: block;
         color:gray;
         font-size: 12px;
         position: relative;
         text-align: center;
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
         margin-left: 430px;
         margin-top: 450px;
      }
      }

@media(min-width:700px) and (max-width:1040px){
   body{
      text-align: center;
   }
     .logo img{
      max-width: 5%;
     }
     .sliders img{
      width: 100%;
      height: 450px;
     }
     .container{
      width: 100%;
     }
     .seta{
      width:100%;
      text-align: center;
     }
     .box{
      width: 100%;
     }
     .texto-812{
      margin-left: 20px;
      margin-top: -250px;
     }
     .imagem-812 img{
      margin-left: 0px;
      margin-top: 0px;
     }
      #container{
         margin-top: 200px;
         width:100%;
         justify-content: center;
      }
      #container video{
         margin-top: 2px;
         width: 100%;
      }
       .texto-f1{
         color:red;
         margin-top: -300px;
         font-size: 10px;
       }
      .texto-f1 p{
         display: none;
      }
      #flex-box{
          width: 100%;
      }
      #flex-box img{
         display: none;
         margin-left:-120px;
         margin-top: 271px;
      }
      .sf23-texto{
         width: 100%;
         text-align: center;
         margin-left: 2px;
         margin-top: 400px;
      }
      .sf23-texto a .fa-solid{
         display: none;
      }
      #seta-box p1{
         text-align: center;
         width: 100%;
         left: 0;
         
      }
      .imagens-ferrari{
         width: 100%;
         margin-top: -10px;
      }
      .imagens-ferrari img{
         width: 100%;
         margin-top: 9px;
         height: 900px;
      }
      .imagens-ferrari .container h1{
         width: 100%;
         text-align: center;
         font-size: 40px;
         margin-left: 250px;
      }
      .thue img{
         width: 100%;
         height: 500px;
          margin-top: 790px;
      }
      #background-ferrari{
         margin-top: 1000px;
         width: 100%;
         height: 100vh;
      }
      .loja-texto{
         width: 100%;
         text-align: left;
         margin-left: 100px;
         margin-top: 100px;
         font-size: 28px;
      }
      footer{
         width: 100%;
      }
       .footer-links{
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: -70px;
       }
       .footer-links a{
         font-size: 13px
       }
       .auto-links{
         margin-left: 150px;
       }
       #auto-items{
         display: none;
       }
       #coll-items{
         display: none;
       }
       #race-items{
         display: none;
       }
       #uni-items{
         display: none;
       }
       #fechar{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar2{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar3{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       #fechar4{
         display: flex;
         display: block;
         width: 100%;
         text-align: center;
         position: relative;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0%;
         margin-left: 0px;
       }
       .sociais{
         display: block;
         text-align: center;
         margin-left: -620px;
         margin-top: 600px;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
       }

       .copy{
         margin-top: 700px;
       }
      
}